@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@config "../tailwind.config.ts";

body {
  margin: 0;
  font-family: 'Work Sans', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111827; /* gray-900 default text */
}

:root {
  --toastify-color-info: #f97316;
}

.Toastify__progress-bar--info {
  background: #f97316;
}
